<form class="grid__row grid__row--md" [formGroup]="changePasswordGroup">
  <mat-form-field class="grid__item">
    <input matInput formControlName="current_password" type="password" placeholder="Текущий пароль">
  </mat-form-field>
  <div formGroupName="passwords" class="grid__item">
    <mat-form-field >
      <input matInput formControlName="newPassword" type="password" placeholder="Новый пароль">
    </mat-form-field>
  </div>

  <div formGroupName="passwords" class="grid__item">
    <mat-form-field >
    <input matInput formControlName="repeat_new_password" type="password" class="form-control" placeholder="Повторите новый пароль">
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="
          changePasswordGroup.controls['passwords'].errors &&
          changePasswordGroup.controls['passwords'].errors.areEqual &&
          changePasswordGroup.controls['passwords'].controls.repeat_new_password.touched &&
          changePasswordGroup.controls['passwords'].controls.newPassword.touched">Пароли не совпадают
    </div>
  </div>
  <button class="submit--button" [disabled]="changePasswordGroup.invalid" mat-raised-button type="submit" (click)="updatePassword()">Принять</button>
</form>
