<mat-card *ngIf="items.length > 0">
  <mat-card-header>
    <mat-card-title>Редактирование</mat-card-title>
    <mat-card-subtitle>изменение существующих контрагентов</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="grid__item" style="margin-top: 20px;">
    <form [formGroup]="updateAgentForm">
      <div formArrayName="items">
        <div class="product__item" *ngFor="let element of items.controls; let i=index" [formGroupName]="i">
          <button mat-icon-button (click)="closeWindow(i)" style="float: right;">
            <mat-icon style="float: right; color: red; margin: 3px;">clear</mat-icon>
          </button>
          <div class="grid__row grid__row--md" style="margin-top: 30px;">
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Имя" formControlName="firstName"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Отчество" formControlName="middleName"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Фамилия" formControlName="lastName"/>
            </mat-form-field>
          </div>
          <div class="grid__row grid__row--md">
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Организация" formControlName="organization"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Должность" formControlName="position"/>
            </mat-form-field>
          </div>
          <div class="grid__row grid__row--md">
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Адрес" formControlName="address"/>
            </mat-form-field>
          </div>
          <div class="grid__row grid__row--md">
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Телефон" formControlName="phone"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Банк" formControlName="bank"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="БИК" formControlName="bik"/>
            </mat-form-field>
          </div>
          <div class="grid__row grid__row--md">
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="УНП" formControlName="unp"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="РС" formControlName="rs"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="КС" formControlName="ks"/>
            </mat-form-field>
          </div>
          <div>
            <button style="background: linear-gradient(to right,#f83600, #fe8c00); margin-left: 20px; margin-top: 20px;"
                    mat-raised-button
                    color="accent" (click)="updateAgent(element)">Обновить
            </button>
          </div>
        </div>
        <div>
          <button style=" background: linear-gradient(to right, #834d9b, #d04ed6); margin-top: 5px; margin-left: 5px; float: right;" mat-raised-button
                  color="accent" (click)="updateAllAgents()">Обновить всё
          </button>
        </div>
        <div class="progress-bar">
          <mat-progress-bar *ngIf="onLoad" mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
