<!--<div class="app-container" *ngIf="testAuth">
<nav mat-tab-nav-bar class="tab-group">
    <div class="app-navigation">
      <a mat-tab-link
         [routerLink]="['./login']"
         routerLinkActive #link1="routerLinkActive"
         [active]="link1.isActive">
        Войти
      </a>
      <a mat-tab-link
         [routerLink]="['./register']"
         routerLinkActive #link2="routerLinkActive"
         [active]="link2.isActive">
        Регистрация
      </a>
    </div>
</nav>

<router-outlet></router-outlet>
</div>-->

<router-outlet></router-outlet>
