<button mat-icon-button (click)="closeWindow()" style=" position: absolute;
    top: 0;
    right: 0;">
  <mat-icon style="float: right; color: red; margin: 3px;">clear</mat-icon>
</button><form [formGroup]="addNewAgentGroup">
  <div class="grid__row grid__row--md" style="margin-top: 15px;">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Имя" formControlName="firstName"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Отчество" formControlName="middleName"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Фамилия" formControlName="lastName"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Организация" formControlName="organization"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Должность" formControlName="position"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Адрес" formControlName="address"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Телефон" formControlName="phone"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Банк" formControlName="bank"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="БИК" formControlName="bik"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="УНП" formControlName="unp"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="РС" formControlName="rs"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="КС" formControlName="ks"/>
    </mat-form-field>
  </div>
  <button style="background: linear-gradient(to right,#f83600, #fe8c00); margin-left: 20px; margin-top: 20px;" mat-raised-button
          color="accent" (click)="addNewAgent()">Добавить
  </button>
</form>
